@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    margin: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Kumbh Sans";
    font-size: 12px;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    color: hsl(237, 12%, 33%);
    padding-top: 10rem ;
    min-height: 100vh;
}

.faq-content {
    background-color: white;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    padding: 60px 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 60px -25px  hsl(238, 29%, 16%);
}

.faq-image-container {
    height: 210px;
    margin-top: -170px;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom ;
    align-self: center;
}

.faq-box-image {
   
    display: none;
}

.faq-woman-image {
    margin-left: -2rem;
}

.faq-title {
    color: hsl(238, 29%, 16%);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-bottom: 24px;
}

.faq-all-questions {
    width: 100%;
    max-width: 500px;
    align-self: center;

}

.faq-question-container {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.faq-question-title {
    font-weight: 400;
    padding-right: 1em;
}

.faq-question-title:focus {
    font-weight: 700;
    
}

.faq-arrow-icon {
    background: url(images/icon-arrow-down.svg);
    width: 10px;
    height: 7px;
    filter: hsl(14, 88%, 65%);
}

.faq-answer {
    color: hsl(240, 6%, 50%);
    margin-top: 0;
    padding-bottom: 14px;
    padding-right: 14px;
    display: none;
    line-height: 16px;
}

.active {
    display: block;
} 

.attribution { 
    font-size: 11px;
    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: 8em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media  (min-width:1280px) {

    .container {
        padding: 0;
        position: relative;
        display: flex;
        align-items: center;
        
    }

    .faq-content {
        flex-direction: row;
        max-width: 900px;
        padding: 0;
        overflow: hidden;
    }

    .faq-box-image {
        position: absolute;
        display: inline;
        margin-left: -92.4px;
        margin-top: 223.2px;
        z-index: 1;
    }

    .faq-image-container {
        margin: 0;
        width: 450px;
        height: auto;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: -440px -210px;
        background-size: 800px 800px;
        /*margin-left: -18em;
        margin-bottom: -4.5em;*/
    }

    .faq-woman-image-container {
        
    }

    .faq-woman-image {
        margin-left: -110px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .faq-title {
        text-align: left;
    }

    .faq-all-questions {
        width: 36.5em;
        padding: 42px 72px 72px 30px;
    }

    .attribution {
        position: absolute;
        width: 100%;
        margin: 0;
    }

    
}